<!DOCTYPE html>
<html lang="en">
<<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Contact Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }
        .centered-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="centered-wrapper">
        <h1 class="mb-4">Test Page</h1>
        <h3 class="welcome-text mb-5">Welcomes. Please leave a review</h3>
        <a href="contact/">
            <button type="button" class="btn btn-primary">Go to review!</button>
        </a>
    </div>
</body>
</html>
